.tela-inteira {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);

  width: 100vw;
  height: 100vh;

  z-index: 2;
}

.container {
  background-color: white;
  padding: 2rem 1rem 1rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
  max-width: 360px;
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 20rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

mat-icon.atencao {
  outline: 0.25rem solid var(--bosch-red);
  color: var(--bosch-red);
}

mat-icon.confirmacao {
  outline: 0.25rem solid var(--green-50);
  color: var(--green-50);
}

button {
  box-shadow: none;
}

button.neutro {
  background-color: var(--bosch-light-gray-100);
}

button.destrutivo {
  background-color: var(--bosch-red);
}

button.confirmar {
  background-color: var(--green);
}

.buttons {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
  margin-top: 1rem;
}
