:host {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
}

.card {
    border: solid 1px #000;
    margin: 5px;
    padding: 20px;
}