:host {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
}

.container {
    
}

.containerCards {
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card {
    width: 20%;
    border: solid 1px #000;
    margin: 5px;
    padding: 20px;
    text-align: center;
}