<app-modal [aberto]='modalAberto' (confirmarAcao)="salvarDados()" (fecharModal)="fecharModal()" [tipoModal]="tipoModal"
  redirecionar='/admin/evento'></app-modal>
<div class="max-container">
  <h1>Eventos</h1>
  <div class='container'>
    <div class='cabecalho-macro'>
      <h3>Formulário</h3>
    </div>
    <form [formGroup]='formCadastro'>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName='nomeEvento' placeholder="Ex: Natal 2021" required />
        <mat-error *ngIf='formCadastro.get("nomeEvento")?.hasError("required")'>
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName='descricao' placeholder="Ex: Evento especial" />
      </mat-form-field>
      <div>
        <mat-icon>today</mat-icon>
        <mat-form-field>
          <mat-label>Data de Início</mat-label>
          <input matInput type="date" placeholder="" formControlName='inicio' (input)="dataInicio = obterValor($event)"
            required />
          <mat-error *ngIf='formCadastro.get("inicio")?.hasError("required")'>
            Data de Início é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-icon>today</mat-icon>
        <mat-form-field>
          <mat-label>Data de Fim</mat-label>
          <input matInput type="date" placeholder="" formControlName='fim' [min]='dataInicio' required />
          <mat-error *ngIf='formCadastro.get("fim")?.hasError("required")'>
            Data de Fim é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf='formCadastro.get("fim")?.hasError("dataAnterior")'>
            Data de Fim não pode ser <strong>anterior</strong> à Data de Início
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<div class='menu-flutuante'>
  <a routerLink='/admin/evento'>
    <app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante>
  </a>
  <app-botao-flutuante (click)='onSubmit()' icone='save' cor='azul' tamanho='grande'></app-botao-flutuante>
</div>