<app-modal
  [aberto]='modalAberto'
  (confirmarData)="salvarDados()"
  (fecharModal)="fecharModal()"
  [tipoModal]="tipoModal"
  redirecionar='/admin/evento'
  ></app-modal>
<div class="max-container">
  <h1>Eventos</h1>
  <div class='container'>
    <div class='cabecalho-macro'>
      <h3>Formulário</h3>
    </div>
     <form [formGroup]='formCadastro'>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName='nome' placeholder="Ex: Natal 2021" required/>
        <mat-error *ngIf='formCadastro.get("nome")?.hasError("required")'>
          Nome é <strong>obrigatório</strong>
         </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName='descricao' placeholder="Ex: Evento especial" />
      </mat-form-field>
      <label>
        <mat-icon aria-hidden="false" aria-label="Data de Fim">today</mat-icon>
        <div>
          Data de Início *
          <input type="date" formControlName='inicio' (input)="dataInicio = obterValor($event)"/>
        </div>
      </label>
      <label>
        <mat-icon aria-hidden="false" aria-label="Data de Fim">today</mat-icon>
        <div>
          Data de Fim *
          <input type="date" formControlName='fim' [min]='dataInicio' />
        </div>
      </label>
      <div class='menu-flutuante'>
        <a routerLink='/admin/evento'><app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante></a>
        <app-botao-flutuante (click)='onSubmit()' icone='save' cor='azul' tamanho='grande'></app-botao-flutuante>
      </div>
    </form>
  </div>
</div>