<app-menu></app-menu>
<div class="center">
    <div class="menuContainer">
        <h1>Meus Benef&iacute;cios</h1>
    </div>
    <p>{{user.nomeCompleto}}</p>
    <app-beneficio-table [data]="direitos"></app-beneficio-table>

    <h1 *ngIf="indicacoes && indicacoes.length>0">Posso Retirar</h1>
    <div *ngFor="let indicacao of indicacoes">
        <p>{{indicacao.colaborador.nomeCompleto}}</p>
        <app-beneficio-table [data]="indicacao.direitos"></app-beneficio-table>
    </div>
    <div>
        <mat-icon class="blue" aria-label="Retirado">done_all</mat-icon>Retirado&nbsp;<mat-icon aria-label="Disponivel">
            done
        </mat-icon>
        Pode
        Retirar
    </div>
</div>