.publictitle {
    margin-left: 8%;
}

.beneficios {
    width: 80%;
    margin: 5px auto 5px auto;
    border-spacing: 0px;
}

.beneficios tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}


.beneficios td, th {
    border: solid #e5e8ec 1px;
    padding: 10px;
}