.blue {
  color: var(--bosch-dark-blue-50);
}

.cabecalho-secao + p {
  margin-top: 2rem;
}

.legenda {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.legenda div {
  display: flex;
  align-items: center;
}

.legenda mat-icon {
  margin-bottom: 0.1rem;
  margin-right: 0.25rem;
}
