.center {
    width: 80%;
    margin: 5px auto 5px auto;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
}

.center div {
    margin: 20px 0 20px 0;
}

.blue {
    color: #34B7F1;
}