td.produtos div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

td.produtos div span {
  white-space: nowrap;
}

tr.cabecalho td {
  position: relative;
}

tr.cabecalho td mat-icon {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
}
