@keyframes animation {
  50% {
    color: var(--bosch-pro-blue);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  color: var(--bosch-dark-blue);
  animation: animation 0.75s infinite cubic-bezier(0, 0, 0, 0);
}

div {
  display: flex;
  align-items: center;
}
