<app-modal
  [aberto]='modalAberto'
  (confirmarData)="onSubmit()"
  (fecharModal)="fecharModal()"
  [redirecionar]='"/admin/evento/" + idEventoFromRoute + "/beneficios"'
  tipoModal="confirmacao"
></app-modal>
<div class="max-container">
  <h1>Benefícios</h1>
  <div class='container'>
    <div class='cabecalho-macro'>
      <h3>Formulário</h3>
    </div>
     <form [formGroup]='formBeneficio'>
        <input type="text" formControlName='nome' placeholder="Nome *" required/>
        <label for='evento'>Evento</label>
        <input type="text" name='evento' [value]="nomeEvento" readonly name='evento' />
        <div class='menu-flutuante'>
          <a [routerLink]='"/admin/evento/" + idEventoFromRoute + "/beneficios"'><app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante></a>
          <app-botao-flutuante (click)='onSubmit()' icone='save' cor='azul' tamanho='grande'></app-botao-flutuante>
      </div>
    </form>
  </div>
</div>