<app-modal [aberto]='modalAberto' (confirmarData)="onSubmit()" (fecharModal)="fecharModal()"
  [redirecionar]='"/admin/evento/" + idEventoFromRoute + "/beneficios"' tipoModal="confirmacao"></app-modal>
  <app-menu></app-menu>
  <div class="max-container">
  <h1>Benefícios</h1>
  <div class='container'>
    <div class='cabecalho-macro'>
      <h3>Formulário</h3>
    </div>
    <form [formGroup]='formBeneficio'>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName='nome' placeholder="Ex: Cesta Fria" required />
        <mat-error *ngIf='formBeneficio.get("nome")?.hasError("required")'>
          Nome é <strong>obrigatório.</strong>
        </mat-error>
        <mat-error *ngIf='formBeneficio.get("nome")?.hasError("maxlength")'>
          O tamanho máximo para nome é <strong>255</strong> caracteres.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Evento</mat-label>
        <input matInput type="text" name='evento' [value]="nomeEvento" disabled name='evento' />
      </mat-form-field>
      <mat-error *ngIf='repeated'>
        Já existe um benefício com este nome
      </mat-error>
    </form>
  </div>
</div>
<div class='menu-flutuante'>
  <a [routerLink]='"/admin/evento/" + idEventoFromRoute + "/beneficios"'>
    <app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante>
  </a>
  <app-botao-flutuante (click)='onSubmit()' icone='save' cor='azul' tamanho='grande'></app-botao-flutuante>
</div>