button {
  background-color: transparent;
  color: var(--azul-50);
  border: 1px solid var(--azul-50);
  padding: 0.25rem 1rem;
  border-radius: 20rem;
  box-shadow: none;
}

button.destrutivo {
  color: var(--vermelho-50);
  border: 1px solid var(--vermelho-50);
}

mat-icon {
  transition: transform 0.2s;
}

button:hover mat-icon {
  transform: scale(1.15);
}
