<div class="MainContainer">
    <!-- <app-botao-validacao variante='ValidacaoCracha'></app-botao-validacao> -->
    <form [formGroup]="validacaoForm" class="validacao-form" >
        <app-botao-validacao variante='ValidacaoCPF' (click)="mostrar = 'cpf'"></app-botao-validacao>
        <div *ngIf="mostrar === 'cpf'">
            <mat-form-field>
                <mat-label>Digite o CPF</mat-label>
                <input formControlName="cpf" mask="000-000-000-00" size="15" (value)="cpf" type="text" matInput>
            </mat-form-field>
            <mat-icon (click)="submit()" aria-label="Próximo">navigate_next</mat-icon>
        </div>
        <app-botao-validacao variante='ValidacaoEDV' (click)="mostrar = 'edv'"></app-botao-validacao>
        <div *ngIf="mostrar === 'edv'">
            <mat-form-field>
                <mat-label>Digite o EDV</mat-label>
                <input formControlName="edv" mask="0000000000" type="text" matInput>
            </mat-form-field>
            <mat-icon (click)="submit()" aria-label="Próximo">navigate_next</mat-icon>
        </div>
    </form>
</div>