.MainContainer {
    display: flex;
    width: auto;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.validacao-form {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.validacao-form mat-form-field {
    width: 30vw;
    margin-bottom: auto;
}

.validacao-form button {
    margin-bottom: auto;
    margin-left: 5px;
    background-color: #3f51b5;
    color: white;
}