.MainContainer {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

app-botao-validacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    font-size: x-large;
    margin: 5vh;
}

.validacao-form div {
    display: flex;
}

.validacao-form mat-form-field {
    width: 40vw;
    margin: 5px;
}

.validacao-form mat-icon {
    transform: scale(2);
    margin: auto auto auto 5px;
    cursor: pointer;
}

.error {
    margin-top: 10px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    width: 50vw;
}

.settings {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    app-botao-validacao {
        width: 100%
    }

    .validacao-form mat-form-field {
        width: 80vw;
        margin: 5px;
    }
}