<div class="max-container">
    <div class="container">
<form [formGroup]="validacaoForm" class="validacao-form">
    <mat-icon mat-button [matMenuTriggerFor]="menu">settings</mat-icon>
    <mat-menu #menu="matMenu">
        <mat-form-field class="settings" appearance="fill">
            <mat-select (selectionChange)="selected()" placeholder="Selecione os Benefícios da Ilha"
                formControlName="beneficiosSelecionados" multiple>
                <mat-option *ngFor="let beneficio of beneficios" [value]="beneficio.id">
                    {{beneficio.descricao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
    <div class="operacional-principal">
        <app-botao-validacao variante='ValidacaoCPF' (click)="mostrar = 'cpf';  error=''; submitted= ''">
        </app-botao-validacao>
        <div *ngIf="mostrar === 'cpf'">
            <mat-form-field>
                <mat-label>Digite o CPF</mat-label>
                <input formControlName="cpf" mask="000-000-000-00" size="15" type="text" matInput
                    (keyup.enter)="submit()">
                <mat-error *ngIf="submitted == 'cpf' && validacaoForm.controls.cpf.invalid">
                    <span *ngIf="validacaoForm.get('cpf')?.hasError('required')">CPF é
                        <strong>obrigatório.</strong></span>
                    <span *ngIf="validacaoForm.get('cpf')?.hasError('minlength')">CPF <strong>inválido</strong>. Deve
                        ter 11 digitos.</span>
                </mat-error>
            </mat-form-field>
            <mat-icon (click)="submit()" aria-label="Próximo">navigate_next</mat-icon>
        </div>
        <app-botao-validacao variante='ValidacaoEDV' (click)="mostrar = 'edv';  error=''; submitted= ''">
        </app-botao-validacao>
        <div *ngIf="mostrar === 'edv'">
            <mat-form-field>
                <mat-label>Digite o EDV</mat-label>
                <input formControlName="edv" mask="0009999999" type="text" matInput (keyup.enter)="submit()">
                <mat-error *ngIf='submitted == "edv"'>
                    <span *ngIf="validacaoForm.get('edv')?.hasError('required')">EDV é
                        <strong>obrigatório.</strong></span>
                    <span *ngIf="validacaoForm.get('edv')?.hasError('minlength')">EDV <strong>inválido</strong>. Deve
                        ter entre 3 e 10 digítos.</span>
                </mat-error>
            </mat-form-field>
            <mat-icon (click)="submit()" aria-label="Próximo">navigate_next</mat-icon>
        </div>
        <mat-error class="error">{{error}}</mat-error>
    </div>
</form>
</div>
</div>