<app-menu></app-menu>
<div class="center">
    <div class="menuContainer">
        <h1>Indicar um Terceiro</h1>
    </div>
    <div *ngIf="indicado" class="currentIndication">
        <span>
            <span *ngIf="indicado.edv">Colaborador</span>
            <span *ngIf="!indicado.edv && indicado.cpf">Terceiro</span>
            <b> {{indicado.nomeCompleto}}</b>
            <span *ngIf="indicado.edv"> de <b>EDV: {{indicado.edv}}</b></span>
            <span *ngIf="!indicado.edv && indicado.cpf"> de <b>CPF: {{indicado.cpf | mask:'000.000.000-00'}}</b></span>
            est&aacute; indicado
            atualmente.
        </span>
        <app-button-with-loading [loading]="removeLoading" label="Remover Indicação" (click)="removeIndicacao()">
        </app-button-with-loading>
    </div>


    <form [formGroup]="indicarForm" class="indicarForm" action="meus-beneficios" (ngSubmit)="submitIndicacao()">
        <mat-form-field>
            <mat-select [(value)]="idType" (selectionChange)="indicarForm.reset(); submitted=false">
                <mat-option value="edv">
                    Colaborador Bosch
                </mat-option>
                <mat-option value="cpf">
                    Retirada Via CPF
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <label for="name">Nome</label>
            <input [class.disabled]="idType =='edv'" [class.erro]="submitted && indicarForm.controls.name.errors"
                formControlName="name" type="text">
            <div *ngIf="submitted && indicarForm.controls.name.errors && idType =='cpf'" class="erro">Preencha o nome do
                indicado!
            </div>
        </div>

        <div *ngIf="idType =='cpf'">
            <label for="cpf">CPF</label>
            <input mask="000.000.000-00" [class.erro]="submitted && indicarForm.controls.cpf.errors"
                formControlName="cpf" type="text">
            <div *ngIf="submitted && indicarForm.controls.cpf.errors" class="erro">Preencha o CPF do
                indicado!
            </div>
        </div>
        <div *ngIf="idType =='edv'">
            <label for="edv">EDV</label>
            <input mask="0000000" [class.erro]="submitted && indicarForm.controls.edv.errors" formControlName="edv"
                (input)="searchEdv()" type="text">
            <div *ngIf="submitted && indicarForm.controls.edv.errors" class="erro">Preencha o EDV do
                indicado!
            </div>
            <div *ngIf="notfound" class="erro">EDV inv&aacute;lido!
            </div>
        </div>

        <app-button-with-loading [loading]="loading" label="Enviar" type="submit"></app-button-with-loading>
    </form>

</div>