<table class="beneficios">
    <thead>
        <th>Status</th>
        <th>Benef&iacute;cio</th>
        <th>Quantidade</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <mat-icon aria-label="Disponivel">done</mat-icon>
            </td>
            <td>KIT Happy Hour</td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                <mat-icon class="blue" aria-label="Retirado">done_all</mat-icon>
            </td>
            <td>KIT Happy Hour</td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                <mat-icon aria-label="Disponivel">done</mat-icon>
            </td>
            <td>KIT Happy Hour</td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                <mat-icon class="blue" aria-label="Retirado">done_all</mat-icon>
            </td>
            <td>KIT Happy Hour</td>
            <td>1</td>
        </tr>
    </tbody>
</table>