<table class="beneficios">
    <thead>
        <th>Status</th>
        <th>Benef&iacute;cio</th>
        <th>Quantidade</th>
    </thead>
    <tbody>
        <tr *ngFor="let direito of data">
            <td>
                <mat-icon *ngIf="!direito.retirado" aria-label="Disponivel">done</mat-icon>
                <mat-icon *ngIf="direito.retirado" aria-label="Disponivel" class="blue">done_all</mat-icon>
            </td>
            <td>{{direito.beneficio.descricao}}</td>
            <td>1</td>
        </tr>
    </tbody>
</table>