<div class="max-container">
  <div class='menu-flutuante'>
    <a routerLink='/admin/evento/cadastro'><app-botao-flutuante icone='add' cor='azul' tamanho='grande'></app-botao-flutuante></a>
  </div>
  <h1>Eventos</h1>
  <div class='container'>
    <div class='cabecalho-tabela'>
      <h3>Lista</h3>
    </div>
    <div class='tabela-eventos'>
      <div class="cabecalho-eventos">
        <span>Excluir</span>
        <span>Nome do Evento</span>
        <span>Data de Início</span>
        <span>Data de Fim</span>
        <span>Ações</span>
      </div>
      <div *ngFor='let evento of eventos' class="registro">
        <div><app-botao-acao variante='excluir'></app-botao-acao></div>
        <span>{{evento.nome}}</span>
        <span>{{evento.inicio}}</span>
        <span>{{evento.fim}}</span>
        <div>
        <a [routerLink]="evento.id + '/beneficiarios'"><app-botao-acao variante='beneficiarios'></app-botao-acao></a>
        <a [routerLink]="evento.id + '/beneficios'"><app-botao-acao variante='beneficios'></app-botao-acao></a>
        <app-botao-acao variante='editar'></app-botao-acao>
        </div>
      </div>
    </div>
    <span class='numero-registros'>Mostrando de 1 até 15 de {{eventos.length}} registros.</span>
  </div>
</div>