<div class="max-container">
  <div class='menu-flutuante'>
    <a routerLink='/'><app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante></a>
    <a routerLink='/admin/evento/cadastro'><app-botao-flutuante icone='add' cor='azul' tamanho='grande'></app-botao-flutuante></a>
  </div>
  <h1>Eventos</h1>
  <div class='container'>
    <div class='cabecalho-tabela'>
      <h3>Lista</h3>
    </div>
     <div class='tabela-eventos'>
       <div class="cabecalho-eventos">
         <span>Excluir</span>
         <span>Nome do Evento</span>
         <span>Data de Início</span>
         <span>Data de Fim</span>
         <span>Ações</span>
       </div>
       <div class="registro">
         <div></div>
         <span>Final de ano 2021</span>
         <span>19-12-2021</span>
         <span>20-12-2021</span>
         <div></div>
       </div>
       <div class="registro">
         <div></div>
         <span>Final de ano 2021</span>
         <span>19-12-2021</span>
         <span>20-12-2021</span>
         <div></div>
       </div>
       <div class="registro">
         <div></div>
         <span>Final de ano 2021</span>
         <span>19-12-2021</span>
         <span>20-12-2021</span>
         <div></div>
       </div>
       <div class="registro">
         <div></div>
         <span>Final de ano 2021</span>
         <span>19-12-2021</span>
         <span>20-12-2021</span>
         <div></div>
       </div>
     </div>
  </div>
</div>