.cabecalho-tabela {
  background-color: #cecece;

  display: flex;
  padding: 0.5rem;
}

td.icone {
  text-align: center;
}

td.icone mat-icon {
  color: tomato;
}

td.icone mat-icon.ativo {
  color: yellowgreen;
}

tr.cabecalho td {
  position: relative;
}

tr.cabecalho td mat-icon {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
}
