.busca {
  display: flex;
  align-items: center;
}

input {
  margin-right: auto;
  width: 360px;
  max-width: 100%;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: royalblue;
  font-weight: bold;
  color: white;
  box-shadow: var(--sombra);
}

button.neutro {
  color: black;
  background-color: #efefef;
  margin-right: 1rem;
}

.cabecalho-tabela,
.registro {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
}
