<div class="max-container">
  <div class='menu-flutuante'>
    <a routerLink='/admin/evento'><app-botao-flutuante icone='chevron_left' cor='branco' tamanho='pequeno'></app-botao-flutuante></a>
    <a routerLink='/admin/evento'><app-botao-flutuante icone='add' cor='azul' tamanho='grande'></app-botao-flutuante></a>
  </div>
  <h1>Produtos</h1>
  <div class='container'>
    <div class='cabecalho-macro'>
      <h3>Lista</h3>
    </div>
    <div class='principal'>
      <div class='busca'>
        <input type="text" placeholder="Nome" [value]='valorBuscado' (input)='valorBuscado = obterValor($event)' />
        <button (click)='limpar()' class='neutro'>LIMPAR</button>
        <button (click)='buscar()'>BUSCAR</button>
      </div>
      <table>
        <tr class='cabecalho'>
          <td>Excluir</td>
          <td>Nome</td>
          <td>Ações</td>
        </tr>
        <tr *ngIf='beneficios.length ===  0'>
          <td colspan="100%">
            Ainda não foi registrado nenhum benefício.
          </td>
        </tr>
        <ng-container *ngIf='beneficios.length > 0'>
          <tr *ngIf='buscaBeneficios.length ===  0'>
            <td colspan="100%">
              Nenhum registro encontrado.
            </td>
          </tr>
          <tr *ngFor='let beneficio of buscaBeneficios'>
            <td class='botoes'><div><app-botao-acao variante='excluir'></app-botao-acao></div></td>
            <td>{{beneficio.nome}}</td>
            <td class='botoes'>
              <div>
                <app-botao-acao variante='editar'></app-botao-acao>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
    <span class='numero-registros'>Mostrando de 1 até 15 de {{buscaBeneficios.length}} registros.</span>
  </div>
</div>