:root {
  --vermelho-50: tomato;
  --vermelho-100: orangered;
  --azul-50: cornflowerblue;
  --azul-100: #5a86d5;
  --verde-50: rgba(78, 219, 78, 1);
  --verde-100: rgba(153, 238, 153, 0.5);
  --cinza-50: #efefef;
  --cinza-100: #cecece;
  --cinza-900: #121212;
  --texto: gray;

  --sombra: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* PADRÕES */

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--azul-50);
  font-weight: bold;
  color: white;
  box-shadow: var(--sombra);

  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--azul-100);
}

/* CONTAINERS */

.max-container {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--cinza-100);
  border-radius: 0.25rem;

  font-size: 1rem;

  box-shadow: var(--sombra);
}

.cabecalho-macro {
  background-color: var(--cinza-100);

  display: flex;
  padding: 0.5rem;
}

h3 {
  font-weight: bold !important;
  font-size: 1rem !important;
  margin: 0 !important;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  color: var(--texto);
}

.headerGraphic {
  background: url("/assets/supergraphic.svg");
  height: 15px;
}

router-outlet + * {
  position: relative;
}

/* FORMULARIOS */

form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  color: var(--texto);
}

form > *:not(:last-child) {
  margin-bottom: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* TABELAS */

div.tabela-overflow {
  overflow-x: auto;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: var(--cinza-50);
}

tr > * {
  border: 0.5px solid var(--cinza-100);
  padding: 1rem;
}

.registro > div {
  padding: 0.5rem;
  gap: 0.25rem;
  justify-content: center;
}

tr:not(.cabecalho) {
  font-weight: normal;
}

tr.cabecalho {
  text-align: center;
}

td.botoes > div {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.numero-registros {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* MENU FLUTUANTE */

.menu-flutuante {
  position: fixed;
  right: 2rem;
  bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  z-index: 1;
}
