@keyframes animation {
  50% {
    color: var(--azul-100);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  color: var(--azul-50);
  animation: animation 0.75s infinite cubic-bezier(0, 0, 0, 0);
}

div {
  display: flex;
  align-items: center;
}
